extends layout

block content
  h3 Angular Express Seed App;
  ul.menu
    li
      a(href='#!/view1') view1
    li
      a(href='#!/view2') view2
  //if lt IE 7
    p.browsehappy
      | You are using an
      strong outdated
      |  browser. Please
      a(href='http://browsehappy.com/') upgrade your browser
      |  to improve your experience.
  div(ng-view='')
  div
    | Angular seed app: v
    span(app-version='')
